@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, Arial, sans-serif;
    background-color: pink;
}

.form {
    background-color: white;
    padding: 10px 20px 20px 20px;
    width: 820px;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
}

label {
    font-weight: bold;
}

button {
    border: none;
    background-color: red;
    padding: 8px;
    color: white;
    border-radius: 5px;
}

.form input {
    font-family: Inter, Arial, sans-serif;
    font-weight: bold;
    margin: 5px 8px;
    padding: 5px;
    display: inline-block;
    box-sizing: border-box;

}

input[type="button"] {
    border: none;
    background-color: #1860a8;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

#eventsContainer {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.event {
    border-bottom: 2px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event .days .minutes {
    text-align: center;
    width: 100px;
}

.event .days .days-number {
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.minutes .minutes-number {
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin: 0 10px 0 3px;
}

.minutes-text {
    text-align: center;
    margin-left: 7px;
}

.timer-part {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    bottom: 12px;
}

.event .event-mail {
    padding: 10px;
    width: 270px;
}

.event .event-date {
    padding: 10px;
    width: 120px;
}

.event .actions {
    padding: 10px;
}
